:root {
    --side-padding: 20px;
    --base-font-size: 24px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-weight: 400;
    font-size: calc(var(--base-font-size) * 2.5);
}

img {
    width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 var(--side-padding);
}

nav .logo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo a {
    color: #fff;
    text-decoration: none;
    font-size: var(--base-font-size);
}

nav .logo a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#top-two-col {
    display: flex;
    justify-content: center;
    padding: var(--side-padding);
}

.col {
    width: 50%;
}

.col p {
    padding: 10px 10px 10px 0;
    font-size: calc(var(--base-font-size)/ 1.5);
}

.col .cta {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    transition: all 0.250s;
}

.col .cta:hover {
    background-color: #fff;
    color: #000;
}

#flex-images {
    padding: var(--side-padding);
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.grid img {
    height: 450px;
    object-fit: cover;
}

@media screen and (min-width: 639px) {
    nav {
        flex-direction: row;
        height: 80px;
    }
    nav .logo {
        padding: 0;
    }
    nav ul {
        flex-direction: row;
        margin-bottom: 0;
    }
}